<div class="dashboard">

  <!-- Sidebar -->
  <aside class="sidebar">
    <h2 class="logo">🏥 HMS</h2>

    <nav>
      <a routerLink="/admin/dashboard" routerLinkActive="active">📊 Dashboard</a>
      <a routerLink="/doctors" routerLinkActive="active">👨‍⚕️ Doctors</a>
      <a routerLink="/receptionists" routerLinkActive="active">🧑‍💼 Receptionists</a>
      <a routerLink="/patients" routerLinkActive="active">🧑 Patients</a>
    </nav>
  </aside>

  <!-- Main -->
  <main class="main">

    <h1>Admin Dashboard</h1>

    <div class="header-right">
    <button class="logout-btn" (click)="logout()">
      🚪 Logout
    </button>
  </div>

    <!-- Stats -->
    <div class="stats">

      <div class="card blue">
        <h3>Doctors</h3>
        <p>{{ doctorCount }}</p>
      </div>

      <div class="card green">
        <h3>Patients</h3>
        <p>{{ patientCount }}</p>
      </div>

      <div class="card purple">
        <h3>Receptionists</h3>
        <p>{{ receptionistCount }}</p>
      </div>

      <div class="card orange">
        <h3>Today's Earnings</h3>
        <p>₹ {{ todayEarnings }}</p>
      </div>

      <div class="card dark">
        <h3>Monthly Earnings</h3>
        <p>₹ {{ monthEarnings }}</p>
      </div>

    </div>

    <!-- Actions -->
    <div class="actions">

      <div class="action-card" routerLink="/doctors">
        <h3>➕ Register Doctor</h3>
        <p>Add new doctor to system</p>
      </div>

      <div class="action-card" routerLink="/receptionists">
        <h3>➕ Register Receptionist</h3>
        <p>Add new receptionist</p>
      </div>

    </div>

  </main>

</div>